.text_ellipsis
  text-overflow ellipsis
  white-space nowrap
  overflow hidden
.fl 
  float left  
.fr 
  float right  
.clearfix:after
  content:""; 
  display: block; 
  clear:both;  
.cursor 
  cursor pointer 